body,header{
height: 100%;
width: 100%;
margin:0px;
padding: 0px;
}
header{
    position:sticky;
    top: 0;
    background-color: white;
    height: 66px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

}

.left  img{ 
    width: 53px;
    height: 36px;
}
nav ul li{
    list-style: none;
    padding:0 12px;
}
nav ul {
    margin:0px;
}
.section1{
    background-color: #ffffff;
    padding: 0 1;
}
*{
    box-sizing: border-box;
}
.column{
    float: left;
    width:25%;
    height: 400px;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    border:5px red;
    

}
.row{
    background-color: #f2f2f2;
    margin: 10px 50px 50px 80px;
    align-items: center;
    width: 950px;
    border: 10px red;
}
.mendiv{
    display: none;
}
.womendiv{
    display: none;
    border: 10px red;
}
.column ul li{
    list-style-type: none;
}

hr{
padding-left: 50px;
    width: 65%;
}
