body,header{
height: 100%;
width: 100%;
margin:0px;
padding: 0px;
}
header{
    position:sticky;
    top: 0;
    background-color: white;
    height: 66px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

}

.left  img{ 
    width: 53px;
    height: 36px;
}
nav ul li{
    list-style: none;
    padding:0 12px;
}
nav ul {
    margin:0px;
}
.section1{
    background-color: #ffffff;
    height: 122vh;
}

